* {
	padding: 0;
	margin: 0;
	animation: bdy 1s ease;
}
#upar>a {
	text-decoration: none;
	color: #1e272e;
	z-index: 999;
	display: block;
	
}
#upar{

	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 45px;
	line-height: 40px;
	font-size: 20px;
	background: #ffa801;
	text-align: center;
	border-radius: 50%;
	z-index: 999;
	transform: rotate(-50deg);
	cursor: pointer;
	transition: .3s ease;
}
#upar:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 50px;
	border: 5px solid #ffa801;
	border-radius: 50%;
	top: -3px;
	left: 0px;
	z-index: -111;
	transition: .5s ease;

	
}
#upar:hover {
	transform: rotate(0deg);
	transform: scale(1.2);
	
	background: #1e272e;
}
#upar:hover>a {
	color: #ffa801;
	font-size: 20px;
}
#upar:hover:before{

	transform: scale(2);
	opacity: 0;
	
}
#navbar {
	display: flex;
	justify-content: space-between;
	background: #ffa801;
	height: 50px;
	line-height: 50px;
	color:  #1e272e;
	position: sticky;
	animation: navbar 1s;
}
#navbar >span {
	font-size: 35px;
	font-family: 'Indie Flower', cursive;
	
}
#nav {
	display: flex;
	/*animation: nav 1.2s ease;*/
}
#navlist1 {
	animation: navlist1 2s ease;
}
#navlist2 {
	animation: navlist2 2s ease;
}
#navlist3 {
	animation: navlist3 2s ease;
}
#cl {
	color: red;
}

#nav li {
	list-style: none;
	width: 100px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	position: relative;
	
}


#nav a {
	display: block;
	text-decoration: none;
	color:  #1e272e;
}
#nav li:hover {
	background: #1e272e;
	box-shadow: 0 0 25px black;
}
#nav li:hover>a {
	color: #ffa801;
}
#social {
	display: flex;
}
#social>li {
	list-style: none;
	margin-top: 5px;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	display: block;
	transition: .3s ease;
	margin-right: 3px;
	border-radius: 0px;
}
#solist1 {
	animation:solist1 1s ;
	background:#3b5998;
}
#solist2 {
	animation:solist2 2s ;
	background:#4c75a3;
}
#solist3 {
	animation:solist3 2.5s ;
	background: #00aff0;
}
#solist4 {
	animation:solist4 3.2s ;
	background: #00acee;
}
#social li  a i {
	color: white;

}
#social li:hover {
	font-size: 28px;
	margin-top: 0;
	line-height: 50px;
	margin:15px;
	height: 50px;
	transform: rotate(-10deg);
}

#conf {
	color:  #ffa801;
	height: 400px;
	text-align: center;
	background-image: url(images/fortnite2.png);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
#conf-l {
	margin-top: 150px;
	
}
#conf-l>h1 {
	font-size: 30px;
	animation: lft 1.5s ease;
}
#conf-r{
	cursor: pointer;
	animation: conf-r 1.5s;
}
#conf-r>img {
	margin-top:50px;
	cursor: pointer;	
	
	transition: .5s ease;
}	
#conf-r:hover>img{
filter:drop-shadow(0 0 10px silver);
}
#btn {
	width: 100px;
	height: 25px;
	border: none;
	outline: none;
	background: #ffa801;
	border-radius: 5px;
	box-shadow: 0 0 15px black;
	font-weight: 600;
	transition: .2s;
	animation: lft 1.5s ease;
}
#btn:hover,#btn> a:hover {
	color: white;
	box-shadow: 0 0 20px #ffa801;
}
#btn>a {
	text-decoration: none;
	color:  #1e272e;
}
#intro>h1 {
	color: #ffa801;
	font-weight: 800;
	animation: head1 1.5s ease;
}
#ig1 {
	position: relative;
	left: -10%;
	animation: ig1 1.5s ease;
	opacity: 0;
}
#conf-r:hover>#ig1 {
	opacity: 1;
}
@keyframes ig1 {
	from{
		opacity: 0;
	}
	to{
		opacity: 0;
	}
}
#ig2 {
	position: absolute;
	left: 0px;
}
#ig2:hover {
	opacity: 0;
}

#line {
	width: 400px;
	height: 10px;
	background: #1e272e;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5px;
	animation: line 1.5s ease;
}
#intro>p {
	text-align: justify;
}

#main-in >i {
	font-size: 100px;
	color:#1e272e;
	border: 8px solid black;
	padding: 25px;
	border-radius: 50%;
	cursor: pointer;
}
#main-in>i:hover {
	border: 8px solid #ffa801;
	color: #ffa801;
}

#head2 {
	font-weight: 700;
	font-size: 30px;
}
 #para {
 text-align: justify;
 }
 #main2 {
 	background-image: url(images/fw.png);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.3	);
	
 }


 #main-in2 {
 	margin-bottom: 50px;
 }
 #main-in2>h1,#msg{
 	margin: 15px 0 15px 0;
 	font-weight: 800;
 	font-size: 30px;
 	color: #ffa801;
 }
 #line2 {
 	width: 800px;
	height: 10px;
	background: #1e272e;
	margin-bottom: 5px;
 }
 
#plat {
 	font-size: 70px;
 	margin: 10px;
 	cursor: pointer;

 }
#msg {
	background: url(images/fh.jpg) 50% 50%;
	background-size: cover;
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	font-size: 50px;
}

 #msg-box  {
 	width: 100%;
 	height: 200px;
 	resize: none;
 	border: 2px solid #ffa801;
 	border-radius: 5px;
 	font-weight: 700;
 	font-size: 20px;
 	letter-spacing: 1px;
 	padding: 10px 0 0 15px;
 	background-color: rgba(0,0,0,.1);
 	box-shadow: 0 0 10px black;

 }
 #sucess,#fixemail {
 	font-size: 25px;
 	font-weight: 800;
 	height: 50px;
 	display: none;
 }
 #dot1 {
 	animation: dot1 2s infinite;
 	font-size: 40px;
 	opacity: 0;
 }
 #dot2{
 	animation: dot2 2.2s infinite;
 	font-size: 40px;
 	opacity: 0;

 }
 #dot3 {
 	animation: dot3 2.5s infinite;
 	font-size: 40px;
 	opacity: 0;
 }
 textarea:required {
    box-shadow:none;
}
#p1,#p2,#p3 {
	width: 350px;
	height: 185px;
	cursor: pointer;
	transition: .5s;
	position: relative;
	margin-top: 15px;

}


#vb {
	background:#ffa801 ;

}
#vb>a {
	font-size: 20px;
	
}
#p1:hover,#p2:hover,#p3:hover{
	transform: scale(1.3);
	
}
.p1 {

	overflow: hidden;
}

#sms,#get {
	border: 2px solid #ffa801;
	font-size: 18px;
	width: 100px;
	height: 30px;
	transition: .5s ease;
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	color: #ffa801;
	font-weight: bold;
	margin: 15px 0 15px 0;
	background: none;
}
#sms:hover,#get:hover {
	background: #ffa801;
	color: black;
	box-shadow: 0 0 15px #ffa801;
	transform: rotate(360deg);
}
#gnew {
	width: 170px;
	border: 2px solid #ffa801;
 	font-size: 18px;
 	padding-left: 5px;
 	font-weight: bold;
 	background-color: rgba(0,0,0,.1);
}

#gnew:required {
	box-shadow: none;
}
#fooTer {
	background: #1e272e;
	color: #ffa801;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 0;
	cursor: pointer;
}
#fh {
	list-style: none;
}

#fl {
	margin-top: 5px;	
	width: 150px;
	height: 2px;
	background: #ffa801;
	box-shadow:  0 0 10px #ffa801;
}
@media only screen and (max-width: 1000px){
	#nav{
		width: 300px;
	}
	#conf {
		height: 450px;
	}
	#conf-l {
		margin-top: 5px;
	}
	#conf-r>img {
		margin-top: 15px;
	}
	#line2 {
		width: 500px;
	}
	#p1,#p2,#p3 {
		margin-top: 5px;
	}
	.p1 {
		width: 300px;
		overflow: hidden;
	}
	#upar{
	position: fixed;
	bottom: 10px;
	left: 10px;
	}
	#ig2 {
		position: relative;
		left: -5px;
	}
	#ig2:hover {
		opacity: 1;
	}
	#ig1{
		display: none;
	}
	#fh{
		border-bottom: 2px solid #ffa801;
	}
}
@media only screen and (max-width: 600px) {
	#nav{
		width:100%;
	}
#icons {
	display: block;
}

	#navbar {
		display: block;
}
	#nav {
		display: block;
	}
#navbar>span {
	position: relative;
	left:43%;
	transform: translateX(-41%);
	
}
#nav li {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		border-bottom: 1px solid black;
		width: 100%;
		background:#ffa801 ;
}

#nav li:hover {
	width: 100%;	
}
#nav li:hover>a {
	color: #ffa801;
}

#social {
	align-items: center;
	justify-content: center;

}
#ns {
 	margin-top: 0px;
 }
#conf {
	position: relative;
	top: 280px;
	margin-top: 0;
	text-align: center;
	height: 320px;
	
}
#conf-l {
	margin-top: 5px;
}

#conf-r>img {
	width: 200px;
	height: 150px;
}
#mainin {
	margin-top: 250px;
}
#line {
	width: 200px;
}
#line2 {
	width: 150px;
}
#head2 {
	font-size: 25px;
}
#p1,#p2,#p3 {
	width: 200px;
	margin-top: 5px;
}
#fooTer {
	height: 250px;
}
#fb{
	margin-top: 180px;
}
.p1 {
	width: 175px;
}
#intro {
	margin-top: 30px;
}
#ig2{
	position: relative;
	left: 
}
}
@keyframes bdy {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes navlist1 {
	from {
		position: relative;
		right: 150px;

		
	}
	to {
		position: relative;
		right: 0px;
	}
}
@keyframes navlist2 {
	from {
		position: relative;
		top: 200px;
		
	}
	to {
		position: relative;
		top: 0px;
	}
}
@keyframes navlist3 {
	from {
		position: relative;
		left: 250px;
		
	}
	to {
		position: relative;
		left: 0px;
	}
}

@keyframes solist1 {
	from {
		position: relative;
		top: 150px;
		transform: rotate(-45deg) translate(-50px);
		opacity: 0;
	}
	to {
		position: relative;
		top: 0;

	}
}
@keyframes solist2 {
	from {
		position: relative;
		top: 150px;
		transform: rotate(-45deg) translate(-50px);
		opacity: 0;
	}
	to {
		position: relative;
		top: 0;

	}
}
@keyframes solist3 {
	from {
		position: relative;
		top: 150px;
		transform: rotate(-45deg) translate(-50px);
		opacity: 0;
	}
	to {
		position: relative;
		top: 0;

	}
}
@keyframes solist4 {
	from {
		position: relative;
		top: 150px;
		transform: rotate(-45deg) translate(-50px);
		opacity: 0;
	}
	to {
		position: relative;
		top: 0;

	}
}

@keyframes conf-r {
	0% {
		position: relative;
		left: -200px;
	}
	100% {
		position: relative;
		left: 0;
	}
	

}
@keyframes lft {
	from {
		margin-right: -500px;
	}
	to {
		margin-right: 0;
	}
}
@keyframes line {
	from {
		margin-left: -500px;
	}
	to {
		margin-left: 0;
	}
}
@keyframes head1 {
	from {
		margin-right: -500px;
	}
	to {
		margin-right: 0;
	}
}
 @keyframes dot1{
 	from{
 		opacity: 1;
 	}
 	to{
 		opacity: 0;
 	}
 }
  @keyframes dot2{
 	from{
 		opacity: 1;
 	}
 	to{
 		opacity: 0;
 	}
 }
  @keyframes dot3{
 	from{
 		opacity: 1;
 	}
 	to{
 		opacity: 0;
 	}
 }
